.card {
  position: relative;
}

.card img {
  border: 2px solid white;
  width: 100%;
  border-radius: 6px;
  display: block;
}

/* front of card */
.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* back of card */

.card .cover {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .cover {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
